<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd4ubP2wJZn22KvG04wP2uWxNZW-pem9s</string>
	<key>GCM_SENDER_ID</key>
	<string>930369248205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mysocialmediaapp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapplication-phoenix</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapplication-phoenix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930369248205:ios:4c21244300323f82510284</string>
</dict>
</plist>